:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Wallie,Helvetica;
  text-rendering: optimizeLegibility;
  color: #253238;
}


:root{
  
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: #63ffdb1a;
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

#app{
  background-color: var(--navy);
}

body{
  padding: 0;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 100vw;
  background-color: var(--navy);
  
}

.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px 0px 10px;
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

/* HEADER SECTION */
.header-container{
  width: 100%;
  height: 12%;
  padding: 20px 20px 10px 20px;
  background-color: var(--navy);
  position: fixed;
  font-family: 'Roboto', sans-serif;
  z-index: 2;
  transition: var(--transition);
  opacity: 0.98;
}

.header-wrap{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
  padding-left: 25px;
  width: 30%;
}

.header-logo img{
  width: 50px;
  height: 50px;
}

.header-optionWrapper{
  position: fixed;
  /* left: -100%; */
  top: 12%;
  width: 100%;
  left: -100%;
  background-color: var(--navy);
  transition: var(--transition);
  opacity: 0.95;
}

.active-menu{
  left: 0;
  transition: var(--transition);
}

.header-optionButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.header-optionButtons li, .header-optionButtons a, .header-optionButtons p, .side-element-right a{
  text-decoration: none;
  list-style: none;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
}

.nav-item-link{
  display: flex;
}

.nav-item-link p{
  color: var(--green);
  font-weight: 600;
  padding-right: 0.2rem ;
}

.nav-item{
  transition: all 0.1s ease-in;
}

.hamburger-container button{
  cursor: pointer;
}

.hamburger-button-close{
  background-color: inherit;
  border: none;
}

.header-button-active{
  display: block;
}

.header-button-disabled{
  display: none;
}

.hamburger-button{
  background-color: inherit;
  border: none;
}

/* HEADER END */

.main-content{
  position: relative;
  padding: 0 20px;
  min-height: 100vh;
}

.side-element-left{
  display: none;
}

.side-element-right{
  display: none;
}

/* HOME */

.home{
  min-height: 100vh;
  padding-top: 130px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin-bottom: 15px;
  max-width: 900px;
  animation: slide-in 0.5s ease-in-out;
}


@keyframes slide-in {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}

.home h1{
  margin: 0px 0px 20px 2px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
  font-weight: 400;
}

.home h3{
    margin-top: 5px;
    color: var(--slate);
    line-height: 0.9;
    margin-bottom: 1rem;
}

.big-letters{
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

.home p{
  margin: 20px 0px 0px;
  max-width: 540px;
}

.social-media-mobile-and-tablet p{
  color: var(--lightest-slate);
  font-family: var(--font-sans);
}

.social-media-mobile-and-tablet{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.technologies{
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  align-items: center;
  position: relative;
  z-index: 1;
}

.technologies-item::before{
  content: "▹";
  padding-right: 15px;
  color: var(--green);
}

.technologies-item{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  color: var(--lightest-slate);
}

.social-media-links-mobile-and-tablet{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.social-media-links-mobile-and-tablet a:hover svg{
  stroke: #57cbff;
  transform: translateY(-5px);
}

/* HOME END  */

/* PROJECTS */

.projects{
  min-height: 100vh;
  padding-top: 35%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin-bottom: 15px;
  max-width: 900px;
  animation: slide-in 0.5s ease-in-out;
}

.projects-section-title p, .project-status, .project-description-link-text{
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
  font-weight: 400;
}

.projects-section-title span{
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

.project-element{
  background-color: rgba(17, 34, 64, 0.75);
  border-radius: 40px;
  margin-bottom: 30px;
}

.projects-section-title{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  gap: 5px;
}

.project-title{
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  margin: 10px 0px 30px;
  display: flex;
  justify-content: center;
}

.project-title a{
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
}

.project-title:hover a{
  color: var(--green);
}

.project-description p:not(.project-description-link-text){
  color: var(--light-slate);
  font-size: var(--fz-lg);
  margin-bottom: 25px;
}

.project-description-link-text{
  text-decoration: underline;
  font-size: var(--fz-lg);
}

.projects li{
  list-style: none;
}

.project-technologies{
  display: flex;
  gap: 15px;
  white-space: nowrap;
  margin-bottom: 15px;
}

.project-technologies li{
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.project-element-content{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-element img{
  display: none;
}
/* PROJECTS END  */

/* EXPERIENCE */

.experience-container{
  margin-top: 50px;
  background-color: transparent;
  border-radius: 40px;
  margin-bottom: 10%;
}

.experience{
  min-height: 100vh;
  padding-top: 35%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  margin-bottom: 15px;
  max-width: 900px;
  animation: slide-in 0.5s ease-in-out;
}


.experience-section-title p, .experience-description-link-text{
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
  font-weight: 400;
}

.experience-status{
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm),4vw,var(--fz-md));
  font-weight: 400;
}

.experience-section-title span{
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

.experience-element{
  border-radius: 40px;
  margin-bottom: 30px;
  background-color: rgba(17, 34, 64, 0.75);
  animation: slide-in 0.5s ease-in-out;
}

.experience-section-title{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  gap: 5px;
}

.experience-title{
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  display: flex;
  gap: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.experience-title a{
  font-weight: 600;
  color: var(--lightest-slate);
  line-height: 1.1;
  cursor:auto;
}

.experience-companies-element:hover .experience-companies-element-text{
  color: var(--green);
}

.experience-description p:not(.experience-description-link-text){
  color: var(--light-slate);
  font-size: var(--fz-sm);
  margin-top: 10px;
  margin-bottom: 10px;
}

.experience li{
  list-style: none;
}

.experience-responsabilities{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
  width: 90%;
}

.experience-responsabilities-element::before{
  content: "▹";
  padding-right: 15px;
  color: var(--green);
}

.experience-responsabilities-element{
  display: flex;
  justify-content: center;
}

.experience-responsabilities li, .experience-companies-element-text{
  color: var(--slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.experience-element-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-in 0.5s ease-in-out;
}

.experience-element img{
  display: block;
  width: 70px;
  height: 70px;
  margin-top: 20%;
  border-radius: 15px;
  object-fit:scale-down;
  background-color: transparent;
}

.experience-companies {
  padding-left: 20px;
  border-bottom: 2px solid var(--lightest-navy);
  list-style-type: none;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  gap: 40px;
}

.experience-companies-element button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.experience-companies-element{
  padding: 15px;
  width: 33%;
  height: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  cursor: pointer;
}

.experience-companies-element-clicked {
  background-color: var(--light-navy);
  border-bottom: 2px solid var(--green);
}

/* EXPERIENCE END */
/* MAIN END */


@media screen and (min-width: 550px) and (max-width:739px){
  .home, .projects, .experience{
    align-items: center;
    padding: 130px 10%;
  }
}

@media screen and (min-width: 740px){

  /* HOME  */
  .main-content{
    position: relative;
    padding: 0 10%;
  }

  .social-media-mobile-and-tablet{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    flex-direction: row;
    gap: 20px;
  }

  .side-element-left, .side-element-right {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 40px;
    align-items: center;
    max-height: 50vh;
    z-index: 3;
  }

  .side-element-left a, .side-element-right a{
    cursor: pointer;

  } 
  

  .side-element-left li{
    list-style: none;
  }

  .side-element-left li:hover svg, .project-links a:hover svg{
    stroke: var(--green);
    transform: translateY(-5px);
  }

  .side-element-left::after, .side-element-right::after{
      content: "";
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: var(--light-slate);
  }
  .side-element-right{
    right: 40px;
    gap: 1.5rem;
  }

  .side-element-left{
    left: 40px;
    gap: 1.5rem;
  }

  .side-element-left svg{
    left: 40px;
  }

  .side-element-left a{
    height: 100%;
    width: 100%;
  }

  .email{
    height: 100%;
    display: flex;
  }

  .email a{
    writing-mode: vertical-rl;
    text-orientation:sideways;
    cursor: pointer;
    transition: all 0.1s ease-in;
  }

  .social-media-sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .social-media-element{
    display: flex;
  }

  .email:hover a{
    color: var(--green);
    transform: translateY(-10px);
  }

  .technologies{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .technologies-item{
    padding: 0px 0px 10px 0px;
    margin: 0;
  }

  .social-media-links-mobile-and-tablet{
    display: none;
  }

  /* HOME END */

  /* EXPERIENCE */
  .experience{
    align-items: center;
  }
  /* EXPERIENCE END */
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
  
    /* HOME */
  .main-content{
    padding: 0 10% 0 15%;
  }

  .avatar-container img{
    width: 250px;
    height: 250px;
    background: transparent;
  }

  .social-media-mobile-and-tablet p{
    padding-left: 5px;
  }
  /* HOME END */
  /* PROJECTS   */

  .projects{
    padding-top: 20%;
    max-width: 100%;
  }

  .projects-container{
    width: 100%;
  }

  .project-element{
    position: relative;
    display: flex;
    margin-bottom: 80px;
    align-items: center;
    justify-content: space-between;
  }

  .projects-container li:nth-child(even){
    flex-direction: row-reverse;
  }

  .project-element-image{
    width: 80%;
    overflow: hidden;
  }

  .project-element-image img{
    display: block;
    width: 260px;
    height: 200px;
    object-fit: fill;
    opacity: 0.3;
    margin: 0 auto;
    border-radius:15px;
    filter: grayscale(100%);
    transition: .3s ease-in-out;
    filter: blur(2px);
  }

  .project-element-image img:hover{
    filter: grayscale(0%);
    opacity: 1;
  }

  .project-element-content{
    width: 50%;
  }

  /* PROJECTS END  */

  /* EXPERIENCE */
  .experience{
    padding-top: 20%;
  }
  .experience-responsabilities{
    width: 80%;
  }
  /* EXPERIENCE END */
}


@media screen and (min-width: 1024px) {

  .nav-item{
    height: 50px;
    cursor: pointer;
  }
  .nav-item a{
    height: 100%;
  }
  .nav-item:hover{
    transform: translateY(-5px);
  }
  .hamburger-container{
    display: none;
  }

  .header-wrap{
    align-content: space-between;
  }

  .header-optionWrapper{
    display: flex;
    flex-direction: row;
    position: inherit;
    top: 0;
    width: 100%;
    background-color: transparent;
    justify-content: flex-end;
  }

  .header-optionButtons{
    flex-direction: row;
    padding-right: 4rem;
    gap:7rem;
  }

  .nav-item{
    width: 100%;
  }

    /* HOME*/

  .avatar-container img{
    width: 400px;
    height: 400px;
  }

  .home{
    max-width: 100%;
  }

  .home h3{
      margin-top: 2px;
      color: var(--slate);
      line-height: 0.9;
  }

  .big-letters{
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
  }

  .home p{
    margin: 20px 0px 0px;
    max-width: 540px;
  }

  .social-media-mobile-and-tablet p{
    font-size: var(--fz-xxl);
    padding-left: 7px;
  }

  .technologies-item{
    font-size: var(--fz-xxl);
  }
  /* HOME END */

    /* PROJECTS   */

    .projects{
      padding-top: 15%;
      max-width: 100%;
    }

    .projects-container{
      width: 100%;
    }

    .project-element{
      position: relative;
      display: flex;
      margin-bottom: 80px;
      align-items: center;
      justify-content: space-between;
      height: 500px;
    }

    .project-description{
      padding-left: 40px;
    }

    .projects-container li:nth-child(even){
      flex-direction: row-reverse;
    }

    .project-element-image{
      width: 80%;
      overflow: hidden;
    }

    .project-element-image img{
      display: block;
      width: 630px;
      height: 330px;
      object-fit: fill;
      opacity: 0.3;
      margin: 0 auto;
      border-radius:15px;
      filter: grayscale(100%);
      transition: .3s ease-in-out;
      filter: blur(2px);
    }

    .project-element-image img:hover{
      filter: grayscale(0%);
      opacity: 1;
    }

    .project-element-content{
      width: 50%;
    }

    /* PROJECTS END  */
    
  /* EXPERIENCE */

  .experience{
    margin: 0 auto;
    padding-top: 13%;
    width: 100%;
  }
  .experience-responsabilities{
    width: 90%;
  }

  .experience-companies-element-text{
    font-size: var(--fz-lg);
    transition: .15s ease-in-out;
  }

  .experience-title{
    font-size: clamp(26px,5vw,40px);
  }

  .experience-status{
    font-size: clamp(var(--fz-sm),4vw,var(--fz-xl));
    margin-bottom: 15px;
  }

  .experience-description p:not(.experience-description-link-text){
    font-size: var(--fz-lg);
    margin-bottom: 30px;
    margin-top: 0;
  }

  .experience-responsabilities li{
    font-size: var(--fz-lg);
  }
  /* EXPERIENCE END */

  @media screen and (min-width: 1024px) and (max-width: 1440px){
    /* PROJECTS */
    .project-element-image img{
      display: block;
      width: 450px;
      height: 280px;
      object-fit: fill;
      opacity: 0.3;
      margin: 0 auto;
      border-radius:15px;
      filter: grayscale(100%);
      transition: .3s ease-in-out;
      filter: blur(2px);
    }
     /* PROJECTS END*/
  }

  @media screen and (min-width: 1921px){
    /* HOME */
    .home{
      padding: 0 20vh 0 25vh;
    }
   /* HOME END */

   /* PROJECTS */
   .project-element-image img{
    display: block;
    width: 820px;
    height: 400px;
    object-fit: fill;
    opacity: 0.3;
    margin: 0 auto;
    border-radius:15px;
    filter: grayscale(100%);
    transition: .3s ease-in-out;
    filter: blur(2px);
  }

  .projects-container .project-element:nth-child(even){
    flex-direction: row-reverse;
    padding-right: 40px;
  }

  .projects-container .project-element:nth-child(odd){
    padding-left: 40px;
  }
   /* PROJECTS END*/
  }
}